{% extends "cab/snippet_list.html" %}
{% load cache core_tags %}

{% block feeds %}<link rel="alternate" href="/feeds/author/{{ author.username }}/" type="application/atom+xml" title="Feed of snippets by {{ author.username }}" />{% endblock %}

{% block title %}Snippets by {{ author.username }}{% if months %}, last {{ months }} months{% endif %}{% endblock %}

{% block content_header %}Snippets by {{ author.username }}{% if months %}, last {{ months }} months{% endif %}{% endblock %}


{% block sidebar %}
  {% cache 600 author_detail_sidebar author.username %}
  <p>{% ifequal request.user author %}You've{% else %}{{ author.username }} has{% endifequal %} posted {{ author.snippet_set.count }} snippet{{ author.snippet_set.count|pluralize }}.</p>

  <p><a rel="alternate" href="/feeds/author/{{ author.username }}/" type="application/atom+xml"><img src="http://djangosnippets.org/media/img/feed-icon-10x10.png" alt="" /> Feed of snippets by {{ author.username }}</a></p>

  <p>The users who've submitted the most snippets are:</p>
  <ol>
  {% for author in "cab.snippet"|call_manager:"top_authors"|slice:":5" %}
    <li><a href="/users/{{ author.username }}/">{{ author.username }}</a></li>
  {% endfor %}
  </ol>
  {% endcache %}
{% endblock %}
