{% extends "base.html" %}

{% block bodyclass %}user{% endblock %}

{% block secondary_nav %}
<nav id="subnav">
    <ul>
    {% if request.user.is_authenticated %}
      <li><a href="{% url 'socialaccount_connections' %}">Your accounts</a></li>
      <li><a href="{% url 'account_change_password' %}">Your password</a></li>
      <li><a href="{% url 'account_email' %}">Your emails</a></li>
      <li><a href="{{ user.get_absolute_url }}">Your snippets</a></li>
    {% endif %}
    <li><a href="{% url 'cab_snippet_add' %}">Add a snippet</a></li>
    <li><a href="{% url 'cab_user_bookmarks' %}">Your bookmarks</a></li>
    </ul>
</nav>
{% endblock %}
