{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>djangosnippets: {% block head_title %}Home{% endblock %}</title>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
        <link rel="alternate" href="{% url 'cab_feed_latest' %}" type="application/atom+xml" title="Feed of latest snippets" />
        <link href="{% static "css/site.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
        {% block feeds %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
       <!-- navbar start -->
        {% include 'cab/navigation.html' %}
        <!-- navbar end -->
       
        <footer>
            <p id="copyright">Written by <a href="https://github.com/django-de/djangosnippets.org/graphs/contributors">various people</a>. Hosted by <a href="https://www.heroku.com" class="heroku">Heroku</a>, powered by <a href="http://www.djangoproject.com/">Django</a></p>
            <p class="legal"><a href="/about/">About</a> | <a href="/about/faq/">FAQ</a> | <a href="/about/tos/">Terms of service</a> | <a href="/about/legal/">Legal notices</a></p>
        </footer>
        {% block extra_body %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src="{% static 'js/foundation.min.js' %}"></script>
        <script src="{% static 'js/snippets.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script defer src="https://unpkg.com/alpinejs@3.3.2/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>

        <script>
            $(document).foundation();
        </script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
