{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
<head>
  <title>djangosnippets: {% block head_title %}Home{% endblock %}</title>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Bungee&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="alternate" href="{% url 'cab_feed_latest' %}" type="application/atom+xml" title="Feed of latest snippets" />
  <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
  {% block feeds %}{% endblock %}
  {% tailwind_css %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
  <div id="accountbar"><div class="inner">
    <p>
    {% url 'account_logout' as logout_url %}
    {% url 'account_login' as login_url %}
    {% if user.is_authenticated %}
      Logged in as <a href="{{ user.get_absolute_url }}">{{ user.username }}</a> (<a href="{{ logout_url }}{% if request.path != login_url or request.path != logout_url %}?next={{ request.path }}{% endif %}">Logout</a>)
    {% else %}
      <a href="{{ login_url }}?next={% if request.path == logout_url or request.path == login_url %}/{% else %}{{ request.path }}{% endif %}">Login</a>
    {% endif %}
    </p>
  </div></div>
  <header><div class="inner">
    <a title="Go back to the frontpage" href="{% url 'home' %}" id="logo">django<b>snippets</b></a>
    <nav>
      <ul>
        <li><a href="{% url 'cab_snippet_add' %}">Add a snippet</a></li>
        <li><a href="{% url 'cab_snippet_list' %}">All snippets</a></li>
        <li><form method="GET" action="/search/">
        <input type="search" name="q" value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Search a snippet...">
      </form></li>
      </ul>
    </nav>
  </div></header>
  <div id="main" class="container mb-auto mx-auto w-7/8">
    {% block secondary_nav %}
    <nav id="subnav">
      <ul>
        <li><a hx-get="{% url 'cab_top_authors' %}" hx-target="#base-container" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true">By author</a></li>
        <li><a hx-get="{% url 'cab_language_list' %}" hx-target="#base-container" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true">By language</a></li>
        <li><a hx-get="{% url 'cab_top_tags' %}" hx-target="#base-container" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true">By tag</a></li>
      </ul>
    </nav>
    {% endblock %}

  {% if messages %}
    {% for message in messages %}
      <div data-alert class="alert-box {% if message.tags %} {{ message.tags }}{% else %}message_info{% endif %}">
        {{ message }}
        <a href="#" class="close">&times;</a>
      </div>
    {% endfor %}
  {% endif %}

  <div id="base-container">
  {% with current_url_name=request.resolver_match.url_name %}
  {% if current_url_name != 'home' %}<h1>{% block content_header %}{% endblock %}</h1>{% endif %}
  {% block new_content_header %}{% endblock %}
  <div id="content" class="w-full">
      {% block content %}
      {% endblock %}
  </div>
  {% if current_url_name != 'home' %}
  <div id="sidebar" class="hidden md:block md:w-1/4">
    {% block sidebar %}
    {% endblock %}
  </div>
  {% endif %}
  {% endwith %}
  {% block extra_content %}
  {% endblock %}
  </div>
</div>
  <footer>
    <p id="copyright">Written by <a href="https://github.com/django-de/djangosnippets.org/graphs/contributors">various people</a>. Hosted by <a href="https://www.heroku.com" class="heroku">Heroku</a>, powered by <a href="http://www.djangoproject.com/">Django</a></p>
    <p class="legal"><a href="/about/">About</a> | <a href="/about/faq/">FAQ</a> | <a href="/about/tos/">Terms of service</a> | <a href="/about/legal/">Legal notices</a></p>
  </footer>
  {% block extra_body %}{% endblock %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{% static 'js/fastclick.js' %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script src="{% static 'js/snippets.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script defer src="https://unpkg.com/alpinejs@3.3.2/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>

  <script>
    $(document).foundation();
  </script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
