{% extends "base.html" %}
{% load static %}
{% load core_tags %}
{% block bodyclass %}frontpage{% endblock %}
{% block head_title %}Welcome{% endblock %}

{% block content_header %}{% endblock %}

{% block main_extra_class %}{% endblock %}

{% block content %}
<section class="flex flex-col px-12 pt-8 pb-40 text-center font-header">
  <img class="mx-auto" src="{% static 'img/banner_logo.png' %}"></img>
  <h1 class="text-6xl mx-auto max-w-6xl text-gray-900 font-bold tracking-tight leading-tight font-home-section-title">Share and Discover useful <span class="text-base-green-400 font-logo">Django</span> code <span class="text-base-orange-400 font-logo">Snippets</span></h1>
  <p class="mx-auto max-w-2xl mt-4 mb-8 text-gray-600 text-xl">Welcome to Djangosnippets.org, a site for users of the Django web framework to come together and share useful "snippets" of reusable code.</p>
  <div class="flex gap-4 justify-center">
    <a class="home-banner-button bg-base-green-400 w-30 hover:bg-base-green-800" href="{% url 'cab_snippet_add' %}">Share</a>
    <a class="home-banner-button bg-base-orange-400 w-30 hover:bg-base-orange-800" href="{% url 'cab_snippet_list' %}">Discover</a>
  </div>
</section>
<section class="flex flex-col lg:flex-row my-20">
  <div class="flex-1 my-8 lg:my-0">
    <h2 class="inline-block home-section-title" data-animation="typing" data-typing-text="What is Django Snippets?" data-use-observe="true"></h2>
    <span class="ml-1 inline-block w-1 h-10 bg-gray-900 animate-blink translate-y-2"></span>
  </div>
  <div class="flex-2 flex-col lg:mx-12">
    <div class="relative min-h-[28rem]">
      <div class="absolute w-full bg-base-orange-100 rounded-lg z-100">
        <div class="flex gap-2 items-center p-4 bg-base-green-100 rounded-t-lg">
          <span class="code-block-control-button bg-red-400"></span>
          <span class="code-block-control-button bg-yellow-400"></span>
          <span class="code-block-control-button bg-green-400"></span>
        </div>
        <div class="p-8">
          <code class="code-block-line">from django import models</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">from django.contrib.auth.models import User</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">class MySnippet(models.Model):</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;title = models.CharField(max_length=128)</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;content = models.TextField()</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;author = models.ForeignKey(User, on_delete=models.CASCADE)</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;def my_snippet_skill(self):</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...</code>
        </div>
      </div>
      <div class="absolute top-8 left-8 w-full bg-base-orange-100 rounded-lg z-0 opacity-60">
        <div class="flex gap-2 items-center p-4 bg-base-green-100 rounded-t-lg">
          <span class="code-block-control-button bg-red-400"></span>
          <span class="code-block-control-button bg-yellow-400"></span>
          <span class="code-block-control-button bg-green-400"></span>
        </div>
        <div class="p-8">
          <code class="code-block-line">from django import models</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">from django.contrib.auth.models import User</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">class MySnippet(models.Model):</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;title = models.CharField(max_length=128)</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;content = models.TextField()</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;author = models.ForeignKey(User, on_delete=models.CASCADE)</code>
          <code class="code-block-line">&nbsp;</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;def my_snippet_skill(self):</code>
          <code class="code-block-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...</code>
        </div>
      </div>
    </div>
    <div class="my-12 px-4">
      <p class="text-lg font-text">In programming, a snippet is a small, reusable piece of code.</p>
      <p class="text-lg font-text">Django Snippets offers a collection of useful code for Django developers.</p>
      <a class="inline-flex items-center gap-1 cursor-pointer group underline underline-offset-4" href="{% url 'cab_snippet_list' %}">
        <span class="transition-colors text-lg font-text">Are you ready to explore?</span>
        <svg class="w-6 h-6 group-hover:text-base-green-400" viewBox="0 0 24 24" fill="none">
          <line class="stroke-current stroke-2 -translate-x-2 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 transition-all duration-300" x1="4" y1="12" x2="16" y2="12"/>
          <path class="stroke-current stroke-2 fill-none stroke-linecap-round stroke-linejoin-round group-hover:translate-x-1 transition-transform duration-300" d="M15 8l4 4-4 4"/>
        </svg>
      </a>
    </div>
  </div>
</section>
<section class="my-40">
  <div class="py-20 bg-base-green-400/20 rounded-t-[60%] max-w-[1920px] md:-mx-auto w-screen relative left-1/2 right-1/2 -translate-x-1/2 text-center">
    <h2 class="home-section-title max-w-5xl my-8 leading-tight mx-auto">Community at a Glance</h2>
    <p class="max-w-2xl mt-4 mb-18 text-gray-600 text-base mx-auto text-lg">See how our community has grown and discover the most popular snippets shared by Django developers worldwide.</p>
    <div class="mx-auto grid grid-cols-2 grid-rows-2 gap-16 w-[64rem] h-[32rem]">
      <div class="home-stat-block bg-base-green-400/60">
        <h3 class="font-home-stat-title">Snippets</h3>
        <p class="home-stat-description-text">Registered Snippets</p>
        {% component "icon" kind="snippet" label="snippet" color="orange" classes="w-[60px] h-[60px]" / %}
        <p class="home-stat-metric">{{ registered_snippets }}</p>
      </div>
      <div class="home-stat-block bg-base-green-400/60">
        <h3 class="font-home-stat-title">Users</h3>
        <p class="home-stat-description-text">Total Users</p>
        {% component "icon" kind="user" label="user" color="white" classes="w-[60px] h-[60px]" / %}
        <p class="home-stat-metric">{{ total_users }}</p>
      </div>
      <div class="home-stat-block bg-base-green-400/60">
        <h3 class="font-home-stat-title">Like</h3>
        <p class="home-stat-description-text">Highest Rating</p>
        {% component "icon" kind="heart" label="rating" color="red" classes="w-[60px] h-[60px]" / %}
        <p class="home-stat-metric">{{ highest_rating_cnt }}</p>
      </div>
      <div class="home-stat-block bg-base-green-400/60">
        <h3 class="font-home-stat-title">BookMark</h3>
        <p class="home-stat-description-text">Highest Bookmarks</p>
        {% component "icon" kind="bookmark" label="bookmark" color="#ffd700" classes="w-[60px] h-[60px]" / %}
        <p class="home-stat-metric">{{ highest_bookmark_cnt }}</p>
      </div>
    </div>
  </div>
</section>
<section>
  <h2 class="home-section-title">Join the Django Snippets Website Development !</h2>
  <p class="my-8 text-lg text-gray-600">Django Snippets (djangosnippets.org) is a Django Software Foundation project open to everyone.</p>
  <div class="flex flex-row py-8 gap-12">
    <div class="relative flex flex-col items-center py-6 text-center w-[24rem] border-3 rounded-lg border-gray-400 hover:-translate-y-2 hover:border-base-green-400 duration-300 group">
      <a class="text-black no-underline" href="https://github.com/django/djangosnippets.org/issues">
        <div class="absolute w-full -top-[0.8rem] left-0"><span class="text-lg font-logo bg-base-orange-400 px-2 py-1">FEATURE REQUEST</span></div>
        <h3 class="underline underline-offset-2 py-2">Share Your Ideas</h3>
        <p class="text-gray-600">Submit your suggestions as GitHub issues.</p>
      </a>
    </div>
    <div class="relative flex flex-col items-center py-6 text-center w-[24rem] border-3 rounded-lg border-gray-400 hover:-translate-y-2 hover:border-base-green-400 duration-300 group">
      <a class="text-black no-underline" href="https://github.com/django/djangosnippets.org/pulls">
        <div class="absolute w-full -top-[0.8rem] left-0"><span class="text-lg font-logo bg-base-orange-400 px-2 py-1">CONTRIBUTING</span></div>
        <h3 class="underline underline-offset-2 py-2">Contribute on Github</h3>
        <p class="text-gray-600">File bug reports and make pull-requests.</p>
      </a>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_scripts %}
<script type="module" src="{% static 'js/typingAnimation.js' %}"></script>
{% endblock %}
