{% extends "base.html" %}
{% load static %}
{% load core_tags %}
{% block bodyclass %}frontpage{% endblock %}
{% block head_title %}Welcome{% endblock %}

{% block content_header %}{% endblock %}

{% block content %}
<section class="flex flex-col px-12 pt-8 pb-40 text-center font-header">
  <img class="mx-auto" src="{% static 'img/banner_logo.png' %}"></img>
  <h1 class="text-6xl mx-auto max-w-6xl text-gray-900 font-bold tracking-tight leading-tight font-home-banner-title">Share and Discover useful <span class="text-base-green-400 font-logo">Django</span> code <span class="text-base-orange-400 font-bungee">Snippets</span></h1>
  <p class="mx-auto max-w-2xl mt-4 mb-8 text-gray-600 text-xl">Welcome to Djangosnippets.org, a site for users of the Django web framework to come together and share useful "snippets" of reusable code.</p>
  <div class="flex gap-4 justify-center">
    <a class="home-banner-button bg-base-green-400 w-30 hover:bg-base-green-800" href="{% url 'cab_snippet_add' %}">Share</a>
    <a class="home-banner-button bg-base-orange-400 w-30 hover:bg-base-orange-800" href="{% url 'cab_snippet_list' %}">Discover</a>
  </div>
</section>
{% endblock %}
