version: 2
updates:

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "theme/static_src/"
    schedule:
      interval: "weekly"
    groups:
      npm-dependencies:
        patterns:
          - "*"

  # Update GitHub actions in workflows
  - package-ecosystem: "github-actions"
    directory: "/"
    # Every week
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"
