{% extends "base.html" %}

{% load static account socialaccount widget_tweaks %}

{% block header%}{% endblock %}

{% block content %}
<div class="w-[40rem] flex flex-col items-center justify-center mx-auto p-8 font-common shadow-sign-content rounded-lg">
    <h3>Sign In</h3>
    <p>Don't have an account? <a href="{{ signup_url }}" class="underline text-base-green-600 hover:text-base-orange-400">Sign Up</a></p>
    {% include "socialaccount/snippets/login_extra.html" %}
    <form class="login flex flex-col items-center w-[80%]" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <ul class="m-0 border-2 rounded-md p-2 border-red-400 text-red-600 font-bold">
          {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% for field in form %}
        <div class="w-full my-1">
            <div class="flex w-full my-2">
                <label class="text-base text-left">{{ field.label }}</label>
                <span aria-hidden="true" class="text-4xl text-red-400 h-2 ml-1">*</span>
            </div>
            {{ field|add_class:"h-12 text-lg rounded-lg border-base-green-400 border-2 my-2" }}
            {% if field.help_text %}<div class="w-full text-left ml-4 font-text">{{ field.help_text|safe }}</div>{% endif %}
            {% if field.errors %}<ul class="m-0 w-full ml-4 text-left text-red-600 font-text">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="w-full my-4 h-12 text-lg bg-base-green-600 border-2 rounded-lg border-base-green-800 font-common hover:bg-base-white-400 hover:text-base-green-600">Sign In</button>
    </form>
    <a href="{% url 'account_reset_password' %}" class="block w-[80%] underline text-right text-base-green-600 hover:text-base-orange-400">Forgotten your password?</a>
    <div class="flex items-center my-4 w-[80%]">
      <div class="flex-1 border-t w-full border-gray-400"></div>
      <span class="px-4 text-gray-800 font-text">OR</span>
      <div class="flex-1 border-t border-gray-400"></div>
    </div>
    <ul class="socialaccount_providers button-group radius w-[80%]">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
</div>
{% endblock %}
{% block footer %}{% endblock %}