{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content_header %}{% trans "Logout" %}{% endblock %}


{% block content %}
<p>{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Yes, log me out' %}</button> or <a href="{{ user.get_absolute_url }}">cancel</a>
</form>
{% endblock %}
