{% extends "account/base.html" %}
{% load static %}

{% block head_title %}Change Password{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="w-[40rem] flex flex-col items-center justify-center mx-auto p-8 font-common shadow-sign-content rounded-lg">
    <h3>Your password is now changed</h3>
    <img class="w-[60%]" src="{% static 'img/password_reset_done.gif' %}">
    <p>Please login with your new password.</p>
    <a class="button" href="{% url 'account_login' %}">Continue Login</a>
</div>
{% endblock %}
{% block footer %}{% endblock %}
