{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Your password" %}{% endblock %}

{% block content_header %}{% trans "Your password" %}{% endblock %}

{% block content %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="action">{% trans "Change password" %}</button> or <a href="{{ user.get_absolute_url }}">cancel</a>
</form>
{% endblock %}
