{% extends "account/base.html" %}

{% load static %}

{% block head_title %}{% if token_fail %}Bad Token{% else %}Change Password{% endif %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="w-[40rem] flex flex-col items-center justify-center mx-auto p-8 font-common shadow-sign-content rounded-lg">
        <h3>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h3>
        {% if token_fail %}
        <img src="{% static 'img/email_verification_expired.png' %}">
        <p class="mt-4 text-center">The password reset link was invalid, possibly because it has already been used. Would you like to request a new one?</p>
        <a class="button" href="{% url 'account_reset_password' %}">New Password Reset</a>
        {% else %}
        <p class="my-4 text-center">Enter your new password.</p>
        <form class="flex flex-col items-center w-[80%]" method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="w-full my-4 h-12 text-lg bg-base-green-600 border-2 rounded-lg border-base-green-800 font-common hover:bg-base-white-400 hover:text-base-green-600">Change Password</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}{% endblock %}
