{% extends "account/base.html" %}

{% load static widget_tweaks %}

{% block head_title %}Verify Your E-mail Address{% endblock %}

{% block header%}{% endblock %}

{% block content %}
<div class="w-[40rem] flex flex-col items-center justify-center mx-auto p-8 font-common shadow-sign-content rounded-lg">
    <h3>Email Verification</h3>
    <img src="{% static 'img/verification_sent.png' %}">
    <p class="my-4 text-xl font-common">We have sent an e-mail to you for verification 🚀</p>
    <p class="text-center">Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder.</p>
</div>
{% endblock %}
{% block footer %}{% endblock %}
