language: python
python:
  - 3.6
install:
  - pip install -r requirements/development.txt
script:
  - export PYTHONPATH=.
  - flake8
  - isort --recursive --check-only --diff cab comments_spamfighter djangosnippets ratings
  - python manage.py test --settings=cab.tests.settings
