dist: xenial

addons:
  postgresql: "12"
  apt:
    packages:
      - postgresql-12
      - postgresql-client-12
env:
  global:
  - PGPORT: "5433"
  

before_install:
  - sudo ls /etc/postgresql
  - sudo cp /etc/postgresql/{9.6,12}/main/pg_hba.conf
  - sudo pg_ctlcluster 12 main restart

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres


language: python
python:
  - 3.7
install:
  - pip install -r requirements/development.txt
script:
  - export PYTHONPATH=.
  - flake8
  - isort --check-only --diff cab comments_spamfighter djangosnippets ratings
  - python manage.py test --settings=cab.tests.settings
