services:
  db:
    image: postgres:15.13
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=djangosnippets
    volumes:
      - postgresdata:/var/lib/postgresql/data

  web:
    build: .
    env_file:
      - .env
    command: gunicorn djangosnippets.wsgi:application -b 0.0.0.0:8000 --log-level debug -k gevent -w 2
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  redis:
    restart: always
    image: redis:3.2.12
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  redisdata:
  postgresdata:
