version: '3'

services:
  db:
    image: postgres:12.3
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=djangosnippets
      
    volumes:
      - postgresdata:/var/lib/postgresql/data
  web:
    build: .
    environment:
      - REDISTOGO_URL=redis://redis:6379/0
      - SECRET_KEY=p_o3vp1rg5)t^lxm9-43%0)s-=1qpeq%o7gfq+e4#*!t+_ev82
      - DEBUG=False
      - ALLOWED_HOSTS=0.0.0.0,127.0.0.1
      - DATABASE_URL=postgres://postgres:postgres@db/djangosnippets
      - DJANGO_SETTINGS_MODULE=djangosnippets.settings.development
      - SEARCHBOX_SSL_URL=http://elasticsearch:9200/
      - SESSION_COOKIE_SECURE=False
     

    command: gunicorn djangosnippets.wsgi:application -b 0.0.0.0:8000 --log-level debug -k gevent -w 2 
    
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    

  redis:
    restart: always
    image: redis:3.2.12
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
  
volumes:
  redisdata:
  postgresdata:
  