-r requirements-vendor.txt
Django==1.5.9
certifi==14.05.14
dj-database-url==0.3.0
django-appconf==0.6
django-disqus==0.4.3
django-redis-cache==0.13.0
django-secure==1.0
elasticsearch==0.4.5
gevent==1.0.1
greenlet==0.4.4
gunicorn==19.1.1
hiredis==0.1.4
Pillow==2.5.3
pip-tools==0.3.5
psycopg2==2.5.4
pyelasticsearch==0.7.1
raven==5.0.0
redis==2.10.3
requests==2.4.1
simplejson==3.6.3
six==1.8.0
urllib3==1.9.1
whitenoise==1.0.3
