-r requirements-common.txt
akismet==0.2.0
certifi==14.05.14
dj-database-url==0.3.0
django-appconf==0.6
django-comments-spamfighter==0.4
django-ecstatic==0.2.0
django-redis-cache==0.13.0
django-secure==1.0
django-simple-captcha==0.4.2
elasticsearch==0.4.5
gevent==1.0.1
greenlet==0.4.3
gunicorn==19.1.1
hiredis==0.1.4
Pillow==2.5.3
pip-tools==0.3.5
psycopg2==2.5.3
pyelasticsearch==0.7.1
raven==5.0.0
redis==2.10.3
requests==2.4.0
simplejson==3.6.3
six==1.7.3
urllib3==1.9
whitenoise==1.0.3
