Django==1.4.6
Markdown==2.2.1
Pygments==1.6
South==0.7.5
django-generic-aggregation==0.3.1
django-simple-ratings==0.3.2
django-haystack==1.2.7
django-pagination==1.0.7
django-registration==0.8
django-taggit==0.9.3
