{% extends "socialaccount/base.html" %}

{% block head_title %}Signup{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="w-[40rem] flex flex-col items-center justify-center mx-auto p-8 font-common shadow-sign-content rounded-lg">
    <h3>Signup</h3>
    <p class="text-center py-2">You are about to use your {{ account.get_provider.name }} account to login to {{ site.name }}. As a final step, please complete the following form:</p>

    <form class="login flex flex-col items-center w-[80%]" method="POST" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="w-full my-4 h-12 text-lg bg-base-green-600 border-2 rounded-lg border-base-green-800 font-common hover:bg-base-white-400 hover:text-base-green-600">SignUp</button>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
