{% extends "cab/edit_snippet.html" %}
{% block title %}Add a snippet{% endblock %}

{% block content_header %}Add a snippet{% endblock %}

{% block content_preamble %}
  <p class="alert-box warning">Please remember that this site is not a pastebin or debugging tool; it is intended for finished, working pieces of code.</p>
  <p>If you need someplace to temporarily post some code while others help you debug it, please use the pastebin at <a href="http://dpaste.org/">dpaste.org</a>.</p>
{% endblock %}
