{% load static %}



<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative w-full bg-icybluebg">
  <div class="">
    <div class="w-full mx-auto sm:px-6 ">
      <nav class="relative sm:flex sm:items-center sm:justify-end h-16 sm:h-20" aria-label="Global">
        <div class="md:absolute md:inset-y-0 md:left-0">
          <div class="flex items-center justify-between py-2 px-4 ">
            <!-- Navbar Logo -->
            <a href="/" class="inline-flex items-center space-x-2 sm:mt-1 hover:no-underline">
              <img width="97" height="72" class="fill-current w-auto h-12 sm:h-14" src="{% static 'img/django-logo-positive.svg' %}" alt="djangosnippets.com">
              <span class="ml-1 pb-2  text-5xl text-NavyBlue font-semibold font-sans text-yellow-300">Snippets</span>
            </a> <!--navbar brand -->

            <div class="sm:hidden">
              <button @click="toggle" type="button" class="bg-transparent p-2 inline-flex items-center justify-center " aria-expanded="false">
                <span class="sr-only" hidden>Open menu</span>
                <svg class="h-8 w-8 text-NavyBlue hover:text-uktgGreen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>

          </div>
        </div>

        <div class="hidden sm:flex sm:items-center sm:justify-center">

       


          <a href="#" class="inline-flex items-center w-auto px-5 py-2 text-sm font-normal text-NavyBlue hover:text-uktgGreen transition duration-150 border-b-2 border-transparent">
            About
          </a>
         <a href="#" class="inline-flex items-center w-auto px-5 py-2 text-sm font-normal text-NavyBlue hover:text-uktgGreen transition duration-150 border-b-2 border-transparent">
            Snippets
          </a>
        </div>
        <div x-data="{ open: false}" class="inline-flex items-center space-x-2">
          {% if user.is_authenticated %}
          <button class="hidden md:flex items-center justify-end rounded-md">
            <a href="#" class="cursor-pointer px-6 py-3 border-2 border-NavyBlue text-sm font-semibold rounded-full text-NavyBlue bg-transparent hover:bg-uktgGreen hover:border-uktgGreen hover:text-white">
              Logout
            </a>
          </button>
          {% else %}
            <a href="#" class="hidden cursor-pointer md:inline-flex items-center w-auto pl-5 py-2 text-sm font-semibold text-NavyBlue hover:text-uktgGreen transition duration-150">
              Login
            </a>
            <span class="hidden md:block text-NavyBlue">|</span>
            <a href="#" class="hidden cursor-pointer md:inline-flex items-center w-auto pr-5 py-2 text-sm font-semibold text-NavyBlue hover:text-uktgGreen transition duration-150">
              Register
            </a>
          {% endif %}
         
         
         
       
        </div>
      </nav>
    </div>

    <!--
      Mobile menu, show/hide based on menu open state.

      Entering: "duration-150 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div x-show="open" class="absolute z-20 inset-x-0 bg-white transition transform origin-top-right md:hidden">
      <div class="bg-white rounded-b-2xl shadow-lg overflow-y-auto">
        
        
        <div x-data="dropdown" class="space-y-1 border-b border-trueGray-200 ">
        


          <!-- Expandable link section, show/hide based on state. -->
          <div x-show="open" class="space-y-1 px-8" id="sub-menu-1">
            <a href="#" class="group w-full flex items-center py-4 text-sm font-normal text-blueMagenta hover:text-NavyBlue hover:bg-blueIce border-b border-trueGray-200">
              About Us
            </a>
         
          </div>
        </div>
   
      
        <div class="my-8 mx-8 flex gap-3 justify-between">
          {% if user.is_authenticated and user.client %}
          <a href="#" class="flex justify-center items-center w-full cursor-pointer rounded-2xl px-8 py-3 border-2 border-uktgDarkBlue font-semibold text-base text-uktgDarkBlue bg-white hover:bg-uktgDarkBlue hover:text-white ">
            Logout
          </a>
      
          {% elif user.is_authenticated and user.therapist %}
          <a href="#" class="flex justify-center items-center w-full cursor-pointer rounded-2xl px-8 py-3 border-2 border-uktgDarkBlue font-semibold text-base text-uktgDarkBlue bg-white hover:bg-uktgDarkBlue hover:text-white ">
            Logout
          </a>
          {% elif user.is_authenticated and user.partner %}
          <a href="#" class="flex justify-center items-center w-full cursor-pointer rounded-2xl px-8 py-3 border-2 border-uktgDarkBlue font-semibold text-base text-uktgDarkBlue bg-white hover:bg-uktgDarkBlue hover:text-white ">
            Logout
          </a>
          {% else %}


          <a href="#" class="flex justify-center w-full cursor-pointer rounded-2xl px-8 py-3 border-2 border-uktgDarkBlue font-semibold text-base text-uktgDarkBlue bg-white hover
          :bg-transparent">
            Login
          </a>
          <a href="#" class="flex justify-center w-full cursor-pointer rounded-2xl px-8 py-3 border-2 border-uktgDarkBlue font-semibold text-base text-white bg-uktgDarkBlue hove
          r:bg-transparent">
            Register
          </a>



          {% endif %}
      </div>
      </div>
    </div>
  </div>
</div>
