{% extends "base.html" %}
{% load core_tags %}
{% load static %}
{% block bodyclass %}snippet-list{% endblock %}
{% block head_title %}Snippet list{% endblock %}

{% block new_content_header %}
    <header class="bg-transparent">
        <h1 class="my-20 text-center float-none font-header text-8xl md:text-left">{{ hits }} snippet{{ hits|pluralize }}</h1>
        <div class="my-4 flex justify-between px-4">
            <div></div>
            {% component 'sorting_tabs' object_list=object_list / %}
        </div>
    </header>
{% endblock %}

{% block content %}
  {% if object_list %}
    {% component 'snippet_list' snippet_list=object_list / %}
    {% component 'pagination' pagination_obj=pagination / %}
  {% endif %}
{% endblock %}

{#{% block sidebar %}#}
{#  <nav class="filter">#}
{#    <h3>Filter by date</h3>#}
{#    <ul>#}
{#      <li{% if not months %} class="active"{% endif %}><a href="{{ request.path }}">Any time</a></li>#}
{#      <li{% if months == 3 %} class="active"{% endif %}><a href="{{ request.path }}?months=3">3 months</a></li>#}
{#      <li{% if months == 6 %} class="active"{% endif %}><a href="{{ request.path }}?months=6">6 months</a></li>#}
{#      <li{% if months == 12 %} class="active"{% endif %}><a href="{{ request.path }}?months=12">1 year</a></li>#}
{#    </ul>#}
{#  </nav>#}
{##}
{#  <p><a rel="alternate" href="{% url 'cab_feed_latest' %}" type="application/atom+xml"><i class="fa fa-fw fa-rss-square"></i>Feed of latest snippets</a></p>#}
{#{% endblock %}#}
