{% extends "base.html" %}
{% load core_tags %}

{% block head_title %}All tags{% endblock %}
{% block bodyclass %}tags-list{% endblock %}

{% block content_header %}All tags{% endblock %}

{% block content %}
  {% if object_list %}
    <ul>
    {% for tag in object_list %}
      <li><a href="{% url 'cab_snippet_matches_tag' tag.slug %}">{{ tag.name }}</a></li>
    {% endfor %}
    </ul>

    {% component "pagination" pagination_obj=pagination / %}
  {% else %}
    <p>No tags have been used yet.</p>
  {% endif %}

{% endblock %}

{% block sidebar %}
  <h2>Most popular tags</h2>

  <ol>
  {% for tag in "cab.snippet"|call_manager:"top_tags"|slice:":5" %}
    <li><a href="{% url 'cab_snippet_matches_tag' tag.slug %}">{{ tag.name }}</a></li>
  {% endfor %}
  </ol>
{% endblock %}
