{% extends "cab/snippet_list.html" %}
{% load static from staticfiles %}

{% block feeds %}<link rel="alternate" href="{% url 'cab_feed_tag' slug=tag.slug %}" type="application/atom+xml" title="Feed of snippets tagged with '{{ tag.name }}'" />{% endblock %}

{% block head_title %}Tag "{{ tag.name }}"{% if months %}, last {{ months }} months{% endif %}{% endblock %}

{% block content_header %}Tag "{{ tag.name }}"{% if months %}, last {{ months }} months{% endif %}{% endblock %}

{% block sidebar %}
  <p><a rel="alternate" href="{% url 'cab_feed_tag' slug=tag.slug %}" type="application/atom+xml"><i class="fa fa-fw fa-rss-square"></i>Feed of snippets tagged with '{{ tag.slug }}'</a></p>
{% endblock %}
