{% extends "base_user.html" %}
{% load core_tags %}
{% block bodyclass %}bookmarks{% endblock %}

{% block head_title %}Your bookmarks{% endblock %}

{% block content_header %}Your bookmarks{% endblock %}

{% block content %}
  {% if object_list %}
    {% component 'snippet_list' snippet_list=object_list / %}
    {% component "pagination" pagination_obj=pagination / %}
  {% else %}
    <p>You haven't bookmarked any snippets yet.</p>
  {% endif %}

{% endblock %}

{% block sidebar %}
  <p>To bookmark a snippet, just click the "add this snippet to your bookmarks" link on its page.</p>
  <p>The snippets other users have bookmarked most often are:</p>
  <ol>
  {% for snippet in "cab.snippet"|call_manager:"most_bookmarked"|slice:":5" %}
    <li><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a></li>
  {% endfor %}
  </ol>
{% endblock %}
