{% extends "base_user.html" %}
{% load cache core_tags %}
{% block bodyclass %}user{% endblock %}
{% load static from staticfiles %}

{% block feeds %}<link rel="alternate" href="{% url 'cab_feed_author' username=author.username %}" type="application/atom+xml" title="Feed of snippets by {{ author.username }}" />{% endblock %}

{% block head_title %}Snippets by {{ author.username }}{% if months %}, last {{ months }} months{% endif %}{% endblock %}

{% block content_header %}Snippets by {{ author.username }}{% if months %}, last {{ months }} months{% endif %}{% endblock %}


{% block content %}
  {% if object_list %}
    <table class="snippet_list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tags</th>
          <th>Publication date</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
    {% for snippet in object_list %}
      <tr>
        <td><a href="{{ snippet.get_absolute_url }}">{% if not snippet.title|strip %}Untitled{% else %}{{ snippet.title }}{% endif %}</a></td>
        <td>{% for tag in snippet.tags.all %}<a href="{% url 'cab_snippet_matches_tag' tag.slug %}">{{ tag.name }}</a> {% endfor %}</td>
        <td>{{ snippet.pub_date }}</td>
        <td><span class="rating-{% if snippet.rating_score >= 0 %}positive{% else %}negative{% endif %}">{% if snippet.rating_score >= 0 %}+{% endif %}{{ snippet.rating_score }}</span></td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
    {% cache 600 author_detail_sidebar author.username %}
    <p class="count">{% if request.user.username == author.username %}You've{% else %}{{ author.username }} has{% endif %} posted {{ author.snippet_set.count }} snippet{{ author.snippet_set.count|pluralize }}.</p>
    {% endcache %}
    <p class="pagination">
      {% if has_previous %}
        <a href="?page={{ previous }}{% if months %}&amp;months={{ months }}{% endif %}">&lt; Previous {{ results_per_page }}</a>
      {% endif %}
      &nbsp;&nbsp;
      {% if has_next %}
        <a href="?page={{ next }}{% if months %}&amp;months={{ months }}{% endif %}">Next {{ results_per_page }} &gt;</a>
      {% endif %}
    </p>
  {% else %}
    <p class="empty">No snippets posted yet.</p>
  {% endif %}
{% endblock %}

{% block sidebar %}
  <nav class="filter">
    <h3>Filter by date</h3>
    <ul>
      <li{% if not months %} class="active"{% endif %}><a href="{{ request.path }}">Any time</a></li>
      <li{% if months == 3 %} class="active"{% endif %}><a href="{{ request.path }}?months=3">3 months</a></li>
      <li{% if months == 6 %} class="active"{% endif %}><a href="{{ request.path }}?months=6">6 months</a></li>
      <li{% if months == 12 %} class="active"{% endif %}><a href="{{ request.path }}?months=12">1 year</a></li>
    </ul>
  </nav>
  <p><a rel="alternate" href="{% url 'cab_feed_author' username=author.username %}" type="application/atom+xml"><i class="fa fa-fw fa-rss-square"></i>Feed of snippets by {{ author.username }}</a></p>
{% endblock %}
