{% extends 'base.html' %}
{% load core_tags %}
{% load account %}

{% block bodyclass %}search{% endblock %}
{% block head_title %}Search{% endblock %}

{% block content_header %}Search{% endblock %}

{% block content %}
  {% if form.q.value or form.version.value or form.language.value %}
    {% if page.object_list %}
      <table class="snippet_list">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Tags</th>
            <th>Publication date</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
      {% for result in page.object_list %}
        <tr>
          <td><a href="{{ result.object.get_absolute_url }}">{% if not result.object.title|strip %}Untitled{% else %}{{ result.object.title }}{% endif %}</a></td>
          <td><a href="{{ result.object.author.get_absolute_url }}">{% user_display result.object.author %}</a></td>
          <td>{% for tag in result.object.tags.all %}<a href="{% url 'cab_snippet_matches_tag' tag.slug %}">{{ tag.name }}</a> {% endfor %}</td>
          <td>{{ result.object.pub_date }}</td>
          <td><span class="rating-{% if result.object.rating_score >= 0 %}positive{% else %}negative{% endif %}">{% if result.object.rating_score >= 0 %}+{% endif %}{{ result.object.rating_score }}</span></td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="empty">No matching snippets found.</p>
    {% endif %}
  {% else %}
    <p>Please use the searchbox.</p>
  {% endif %}
{% endblock %}

{% block sidebar %}
  <form method="GET" class="fullsize">
    <div class="field">
      <label for="id_q">Search:</label>
      {{ form.q }}
    </div>
    <div class="button-group">
      <button type="submit">Go</button>
      <a href="{% url 'cab_search_advanced' %}">Advanced search</a>
    </div>
  </form>
{% endblock %}