{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content_header %}Search{% endblock %}

{% block content %}
  <form method="get" action=".">
    <dl>
      <dt><label for="id_q">Search:</dt>
      <dd>{{ form.q }}</dd>
      <dt></dt>
      <dd><input type="submit" value="Search" /></dd>
    </dl>
  </form>
  {% if query %}
    <h3>Results</h3>
    <ul>
    {% for result in page.object_list %}
    <li><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>, by <a href="/users/{{ result.object.author.username }}/">{{ result.object.author.username }}</a> (user rating: {{ result.object.rating_score }})</li>
    {% empty %}
      <li>No results found.</li>
    {% endfor %}
    </ul>
  {% else %}
    {# pass #}
  {% endif %}
{% endblock %}
