div.highlight { background: #ffffff; }
div.highlight .c { color: #999988; font-style: italic } /* Comment */
/* div.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
div.highlight .k { font-weight: bold } /* Keyword */
div.highlight .o { font-weight: bold } /* Operator */
div.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
div.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
div.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
div.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
div.highlight .ge { font-style: italic } /* Generic.Emph */
div.highlight .gr { color: #aa0000 } /* Generic.Error */
div.highlight .gh { color: #999999 } /* Generic.Heading */
div.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
div.highlight .go { color: #888888 } /* Generic.Output */
div.highlight .gp { color: #555555 } /* Generic.Prompt */
div.highlight .gs { font-weight: bold } /* Generic.Strong */
div.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
div.highlight .gt { color: #aa0000 } /* Generic.Traceback */
div.highlight .kc { font-weight: bold } /* Keyword.Constant */
div.highlight .kd { font-weight: bold } /* Keyword.Declaration */
div.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
div.highlight .kr { font-weight: bold } /* Keyword.Reserved */
div.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
div.highlight .m { color: #009999 } /* Literal.Number */
div.highlight .s { color: #bb8844 } /* Literal.String */
div.highlight .na { color: #008080 } /* Name.Attribute */
div.highlight .nb { color: #999999 } /* Name.Builtin */
div.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
div.highlight .no { color: #ff99ff } /* Name.Constant */
div.highlight .ni { color: #800080 } /* Name.Entity */
div.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
div.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
div.highlight .nn { color: #555555 } /* Name.Namespace */
div.highlight .nt { color: #000080 } /* Name.Tag */
div.highlight .nv { color: #ff99ff } /* Name.Variable */
div.highlight .ow { font-weight: bold } /* Operator.Word */
div.highlight .mf { color: #009999 } /* Literal.Number.Float */
div.highlight .mh { color: #009999 } /* Literal.Number.Hex */
div.highlight .mi { color: #009999 } /* Literal.Number.Integer */
div.highlight .mo { color: #009999 } /* Literal.Number.Oct */
div.highlight .sb { color: #bb8844 } /* Literal.String.Backtick */
div.highlight .sc { color: #bb8844 } /* Literal.String.Char */
div.highlight .sd { color: #bb8844 } /* Literal.String.Doc */
div.highlight .s2 { color: #bb8844 } /* Literal.String.Double */
div.highlight .se { color: #bb8844 } /* Literal.String.Escape */
div.highlight .sh { color: #bb8844 } /* Literal.String.Heredoc */
div.highlight .si { color: #bb8844 } /* Literal.String.Interpol */
div.highlight .sx { color: #bb8844 } /* Literal.String.Other */
div.highlight .sr { color: #808000 } /* Literal.String.Regex */
div.highlight .s1 { color: #bb8844 } /* Literal.String.Single */
div.highlight .ss { color: #bb8844 } /* Literal.String.Symbol */
div.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
div.highlight .vc { color: #ff99ff } /* Name.Variable.Class */
div.highlight .vg { color: #ff99ff } /* Name.Variable.Global */
div.highlight .vi { color: #ff99ff } /* Name.Variable.Instance */
div.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */