form {
    label {
        font-weight: bold;
    }
    textarea {
        min-height: rem-calc(300px);
    }
    button {
        @include button($padding:rem-calc(10px), $radius:5px);
    }
    select[multiple] {
        background-image: none;
    }
    .help {
        font-size: rem-calc(14px);
        color: lighten($body-font-color, 20);
    }
    .error {
        margin-bottom: 2px;
    }
    .button-group {
        a {
            display: inline-block;
            @include button($padding:rem-calc(10px));
            color: $body-font-color;
            background: transparent;
            &:hover {
                background: transparent;
                color: $secondary-color;
                text-decoration: underline;
            }
        }
    }

    &.fullsize {
        @include grid-row("collapse");
        .field-group {
            @include grid-column(12, $collapse:true);
        }
    }
}