form {
    label {
        font-weight: bold;
    }
    textarea {
        min-height: rem-calc(300px);
    }
    button {
        @include button($padding:rem-calc(10px), $radius:5px);
    }
    select[multiple] {
        background-image: none;
    }
    .help {
        font-size: rem-calc(14px);
        color: lighten($body-font-color, 20);
    }
    .error {
        margin-bottom: 2px;
    }
    .button-group {
        a {
            display: inline-block;
            @include button($padding:rem-calc(10px));
            color: $body-font-color;
            background: transparent;
            &:hover {
                background: transparent;
                color: $secondary-color;
                text-decoration: underline;
            }
        }
    }

    .errorlist {
        margin-top: -1px;
        margin-bottom: 1rem;
        margin-left: 0px;
        li {
            @include form-error-message();
            font-size: 80%;
        }
    }

    &.fullsize {
        @include grid-row("collapse");
        .field {
            @include grid-column(12, $collapse:true);
        }
    }
    &.inline {
        .field {
            @include grid-row("collapse");
            label {
                @media #{$medium-up} {
                    @include grid-column(4);
                }
                @include form-label($alignment:inline);
                font-weight: bold;
            }
            &.error label {
                color: $alert-color;
            }
            .controls {
                @media #{$medium-up} {
                    @include grid-column(8);
                }
            }
        }
        .button-group {
            @include grid-row("collapse");
            .controls {
                @media #{$medium-up} {
                    @include grid-column(8, $push:4);
                }
            }
        }
    }
}

.ui-menu .ui-menu-item {
    font-size: rem-calc(13px);
}

.bee-like-this {
    display: none;
}


#flagform {
    font-size: rem-calc(14px);
}