{% extends "base_user.html" %}

{% block title %}Editing "{{ original.title }}"{% endblock %}

{% block content_header %}Editing "{{ original.title }}"{% endblock %}

{% block main_content %}

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="">
<dl>
<dt><label for="id_title">Title: {% if form.title.errors %}<span class="error">{{ form.title.errors|join:", " }}</span>{% endif %}</label></dt>
<dd>{{ form.title }}</dd>
<dt><label for="id_tag_list">Tags: {% if form.tag_list.errors %}<span class="error">{{ form.tag_list.errors|join:", " }}</span>{% endif %} </label></dt>
<dd>{{ form.tag_list }}</dd>
<dd>{{ form.code }}</dd>
<dt><label for="id_description">Description: {% if form.description.errors %}<span class="error">{{ form.description.errors|join:", " }}</span>{% endif %}</label></dt>
<dd>{{ form.description }}</dd>
<dt><input type="submit" value="Save" /></dt>
</dl>
</form>
{% endblock %}

{% block sidebar %}
<p>All fields are required; tags should be separated with spaces, and you can use Markdown in the description for your snippet.</p>

<p>Remember: by posting a snippet, you agree to let anyone make use of the code.</p>
{% endblock %}