{% extends "base.html" %}

{% block title %}Tag "{{ object.name }}"{% endblock %}

{% block content %}
{% if object_list %}
<h2>Tag "{{ object.name }}"</h2>
<p>{{ hits }} snippet{{ hits|pluralize }} {% ifequal hits 1 %}is{% else %}are{% endifequal %} tagged with "{{ object.name }}":</p>

<ul>
{% for snippet in object_list %}
<li><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> (<a href="{{ snippet.language.get_absolute_url }}">{{ snippet.language.name }}</a>) by <a href="/users/{{ snippet.author.username }}/">{{ snippet.author.username }}</a> {{ snippet.pub_date|timesince }} ago</li>
{% endfor %}
</ul>

<p class="pagination">{% if has_previous %}<a href="?page={{ previous }}">Previous {{ results_per_page }}</a>{% endif %}&nbsp;&nbsp;{% if has_next %}<a href="?page={{ next }}">Next {{ results_per_page }} &gt;</a>{% endif %}
{% else %}
<p>No snippets are tagged with "{{ object.name }}" yet.</p>
{% endif %}

{% endblock %}