{% extends "base.html" %}
{% load core_tags %}

{% block title %}Welcome{% endblock %}

{% block content_header %}Welcome{% endblock %}

{% block content %}
  {% load cache %}
  {% cache 600 homepage %}
  <h3>Latest snippets posted:</h3>
  <ul>
  {% for snippet in "cab.snippet"|latest:5 %}
    <li><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> (<a href="{{ snippet.language.get_absolute_url }}">{{ snippet.language.name }}</a>) by <a href="/users/{{ snippet.author.username }}/">{{ snippet.author.username }}</a> {{ snippet.pub_date|timesince }} ago</li>
  {% endfor %}
  </ul>

  <h3>Top-rated snippets:</h3>
  <ol>
  {% for snippet in "cab.snippet"|call_manager:"top_rated"|slice:":5" %}
    <li><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> (<a href="{{ snippet.language.get_absolute_url }}">{{ snippet.language.name }}</a>) by <a href="/users/{{ snippet.author.username }}/">{{ snippet.author.username }}</a></li>
  {% endfor %}
  </ol>

  <h3>Top users:</h3>
  <ol>
  {% for author in "cab.snippet"|call_manager:"top_authors"|slice:":5" %}
    <li><a href="/users/{{ author.username }}/">{{ author.username }}</a></li>
  {% endfor %}
  </ol>
  {% endcache %}
{% endblock %}

{% block sidebar %}
  <p>Welcome to <a href="http://www.djangosnippets.org/">Djangosnippets.org</a>, a site for users of the <a href="http://www.djangoproject.com/">Django web framework</a> to come together and share useful "snippets" of reusable code.</p>

  <p>If you're just here to browse, you can look through snippets organized <a href="/users/">by author</a>, <a href="/languages/">by language</a> or <a href="/tags/">by tag</a>. You can also have a look at the <a href="/popular/rated/">top-rated snippets</a> and the <a href="/popular/bookmarked/">most-bookmarked snippets</a>.</p>

  <p>If you'd like to contribute, <a href="/accounts/register/">sign up for a free account</a> and you'll be able to post snippets of your own, rate and bookmark snippets, and post comments. If you've got any questions, have a look at our <a href="/about/faq/">FAQ</a>.</p>

  <p><a rel="alternate" href="/feeds/latest/" type="application/atom+xml"><img src="{{ STATIC_URL }}img/feed-icon-10x10.png" alt="" /> Feed of latest snippets</a></p>

  <p><a href="http://readthedocs.org/">Find documentation</a> for popular open source apps</p>

  <h3>Recommended Django titles</h3>
  <a style="margin: 10px;" href="http://www.amazon.com/dp/1430210478/?tag=djangsnipp-20"><img src="{{ STATIC_URL }}amazon_resources/pro-django-experts-voice-in-we.jpg" alt="Pro Django (Expert's Voice in Web Development)" /></a>
  <a style="margin: 10px;" href="http://www.amazon.com/dp/1430219386/?tag=djangsnipp-20"><img src="{{ STATIC_URL }}amazon_resources/practical-django-projects-seco.jpg" alt="Practical Django Projects, Second Edition (Expert's Voice in Web Development)" /></a>
{% endblock %}
