{% extends "homepage.html" %}
{% load core_tags %}

{% block title %}Legal notices{% endblock %}

{% block content_header %}Legal notices{% endblock %}

{% block content %}
    <p>German law requires a <a href="http://en.wikipedia.org/wiki/Impressum#On_webpages" title="Impressum - Wikipedia, the free encyclopedia">statement of legal ownership</a> for documents, including websites.</p>
    
    <p>Die Website djangosnippets.org wird vom Deutschen Django-Verein e. V. betrieben.</p>

    <h3>Anschrift</h3>
    {% filter linebreaks %}Deutscher Django-Verein e. V.
    Erich-Zeigner-Allee 52
    04229 Leipzig
    Deutschland

    Der Verein wird vertreten durch den Vorstand Markus Zapke-Gründemann, Martin Mahner und Jannis Leidel.

    Telefon: +49 341 39 299 290 (Mo.-Fr. 16:00 Uhr bis 18:00 Uhr)
    Telefax: +49 3212 100 74 39
    E-Mail: kontakt@django-de.org

    Vereinsregister: Amtsgericht Leipzig
    Registernummer: VR 4814
    
    Umsatzsteuer-Identifikationsnummer: DE269932358
    {% endfilter %}

    <h3>Haftungshinweis</h3>
    {% filter linebreaks %}Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Deutsche Django-Verein e. V. keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der Informationen auf dieser Website. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Für die eingestellten Inhalte auf den Teilnehmerseiten sind die jeweiligen Teilnehmer selbst verantwortlich.

    Diese Website enthält Verweise auf Websites, die von Dritten eingerichtet wurden. Der Deutsche Django-Verein e. V. hat keinerlei Kontrolle über die Websites und die dort angebotenen Informationen, Waren oder Dienstleistungen. Der Deutsche Django-Verein e. V. übernimmt daher keinerlei Verantwortung, aus welchem Rechtsgrund auch immer, für den Inhalt der Websites Dritter.

    Der Deutsche Django-Verein e. V. behält sich das Recht vor, die auf dieser Website angebotenen Informationen ohne gesonderte Ankündigung jederzeit zu verändern oder zu aktualisieren.

    Für gegebenenfalls bestehende oder künftig entstehende Rechtsverhältnisse ist ausschließlich deutsches Recht anwendbar und sind nur deutsche Gerichte zuständig.
    {% endfilter %}
{% endblock %}

{% block sidebar %}
  <p>Welcome to <a href="http://www.djangosnippets.org/">Djangosnippets.org</a>, a site for users of the <a href="http://www.djangoproject.com/">Django web framework</a> to come together and share useful "snippets" of reusable code.</p>

  <p>If you're just here to browse, you can look through snippets organized <a href="/users/">by author</a>, <a href="/languages/">by language</a> or <a href="/tags/">by tag</a>. You can also have a look at the <a href="/popular/rated/">top-rated snippets</a> and the <a href="/popular/bookmarked/">most-bookmarked snippets</a>.</p>

  <p>If you'd like to contribute, <a href="/accounts/register/">sign up for a free account</a> and you'll be able to post snippets of your own, rate and bookmark snippets, and post comments. If you've got any questions, have a look at our <a href="/about/faq/">FAQ</a>.</p>

  <p><a rel="alternate" href="/feeds/latest/" type="application/atom+xml"><img src="{{ STATIC_URL }}img/feed-icon-10x10.png" alt="" /> Feed of latest snippets</a></p>

  <p><a href="http://readthedocs.org/">Find documentation</a> for popular open source apps</p>

  <h3>Recommended Django titles</h3>
  <a style="margin: 10px;" href="http://www.amazon.com/dp/1430210478/?tag=djangsnipp-20"><img src="{{ STATIC_URL }}amazon_resources/pro-django-experts-voice-in-we.jpg" alt="Pro Django (Expert's Voice in Web Development)" /></a>
  <a style="margin: 10px;" href="http://www.amazon.com/dp/1430219386/?tag=djangsnipp-20"><img src="{{ STATIC_URL }}amazon_resources/practical-django-projects-seco.jpg" alt="Practical Django Projects, Second Edition (Expert's Voice in Web Development)" /></a>
{% endblock %}
