
.htmx-request .results{
    display:none;
  }
  
  #base-container .bars{
    display:none;
  }
  .htmx-request .bars{
    display:block !important;
    opacity:1;
  }
  



@tailwind base;

@tailwind components;

@tailwind utilities;

