{% extends "base.html" %}

{% block title %}List of registered users{% endblock %}

{% block content_header %}List of registered users{% endblock %}

{% block content %}
  <ul>
  {% for user in user_list %}
  	<li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></li>
  {% endfor %}
  </ul>
  
  {% if has_next or has_previous %}
  <p class="pagination">
    {% if has_previous %}<a class="previous" href="?page={{ previous }}">Previous</a>{% else %}<span class="previous">Previous</span>{% endif %}
    {% if has_next %}<a class="next" href="?page={{ next }}">Next</a>{% else %}<span class="next">Next</span>{% endif %}
  </p>
  {% endif %}
{% endblock %}
