{% extends "base.html" %}

{% block title %}Log in to {{ site_name }}{% endblock %}

{% block content_header %}Log in / Sign up{% endblock %}

{% block content %}
  <form action="{% url 'auth_login' %}" method="post" class="login_form inline column medium-6">{% csrf_token %}
    {{ form.non_field_errors }}
    {% if next %}<p class="alert-box warning">The page you're trying to access is only available to readers with free {{ site_name }} accounts. Just sign up and we'll send you on your way.</p>{% endif %}
    <p class="help">Already have an account? Welcome back! Please use your username and password to sign in.</p>
    <div class="field {% if form.username.errors %}error{% endif %}">
        <label for="id_username">Username:</label>
        <div class="controls">
          {{ form.username }}
          {% if form.username.errors %}<span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
        </div>
    </div>
    <div class="field {% if form.password.errors %}error{% endif %}">
      <label for="id_password">Password:</label>
      <div class="controls">
        {{ form.password }}
        {% if form.password.errors %}<span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
      </div>
    </div>
    <div class="button-group">
      <div class="controls">
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Log in</button>
        <a href="{% url 'auth_password_reset' %}" class="alt_button">Forgotten your password?</a>
      </div>
    </div>
  </form>

  <form action="{% url 'registration_register' %}" method="post" class="inline signup_form column medium-6">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <p class="help">If you don't have an account yet, you can sign up here using your email address.</p>
    <div class="field">
      <label for="id_username">Username:</label>
      <div class="controls">
        <input type="text" name="username" value="" id="id_username">
      </div>
    </div>
    <div class="field">
      <label for="id_email">E-mail:</label>
      <div class="controls">
        <input type="text" name="email" value="" id="id_email">
      </div>
    </div>
    <div class="field">
      <label for="id_password1">Password:</label>
      <div class="controls">
        <input type="password" name="password1" value="" id="id_password1">
      </div>
    </div>
    <div class="field">
      <label for="id_password2">Password (again):</label>
      <div class="controls">
        <input type="password" name="password2" value="" id="id_password2">
      </div>
    </div>
    <div class="button-group">
      <div class="controls"><button type="submit">Sign up</button></div>
    </div>
  </form>
{% endblock %}


{% block sidebar %}{% endblock %}
