{% extends "base.html" %}

{% block title %}Log in to {{ site_name }}{% endblock %}

{% block content_header %}Log in{% endblock %}

{% block content %}
  <form action="/accounts/login/" method="post" class="login_form">{% csrf_token %}
    {{ form.non_field_errors }}
    {% if next %}<p>The page you're trying to access is only available to readers with free {{ site_name }} accounts. Just sign in below, and we'll send you on your way.</p>{% endif %}
    <table>
      <tr>
        <th><label for="id_username">Username:</label></th>
        <td>{{ form.username.errors }} {{ form.username }}</td>
      </tr>
      <tr>
        <th><label for="id_password">Password:</label></th>
        <td>{{ form.password.errors }} {{ form.password }}</td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input type="hidden" name="next" value="{{ next }}">
          <input type="submit" value="Log in" class="button">
          <a href="/accounts/password/reset/" class="alt_button">Forgotten your password?</a>
        </td>
      </tr>
    </table>
  </form>

  <form action="/accounts/register/" method="post" class="signup_form">{% csrf_token %}
    <h3>Sign up for a new account</h3>
    <table>
      <tr>
        <th><label for="id_email">Your email:</label></th>
        <td>
          <input type="text" name="email" value="" id="id_email">
          <input type="submit" value="Sign up" class="button">
        </td>
      </tr>
    </table>
  </form>
{% endblock %}


{% block sidebar %}{% endblock %}
