{% extends "base.html" %}

{% block title %}Log in to {{ site_name }}{% endblock %}

{% block content_header %}Log in / Sign up{% endblock %}

{% block content %}
  <form action="{% url 'auth_login' %}" method="post" class="login_form inline column medium-6">{% csrf_token %}
    {{ form.non_field_errors }}
    {% if next %}<p class="alert-box warning">The page you're trying to access is only available to readers with free {{ site_name }} accounts. Just sign up and we'll send you on your way.</p>{% endif %}
    <p class="help">Already have an account? Welcome back! Please use your username and password to sign in.</p>
    <div class="field {% if form.username.errors %}error{% endif %}">
        <label for="id_username">Username:</label>
        <div class="controls">
          {{ form.username }}
          {% if form.username.errors %}<span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
        </div>
    </div>
    <div class="field {% if form.password.errors %}error{% endif %}">
      <label for="id_password">Password:</label>
      <div class="controls">
        {{ form.password }}
        {% if form.password.errors %}<span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
      </div>
    </div>
    <div class="button-group">
      <div class="controls">
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Log in</button>
        <a href="{% url 'auth_password_reset' %}" class="alt_button">Forgotten your password?</a>
      </div>
    </div>
  <p class="help">If you don't have an account yet, you can <a href="{% url 'registration_register' %}">sign up here</a>.</p>
  </form>

{% endblock %}


{% block sidebar %}{% endblock %}
