{% extends "registration/base_user.html" %}

{% block title %}{{ validlink|yesno:"Set a new,Cannot reset" }} password{% endblock %}

{% block content_header %}{{ validlink|yesno:"Set a new,Cannot reset" }} password{% endblock %}

{% block content %}
  {% if validlink %}
    <form action="" method="post">{% csrf_token %}
      {% if form.errors %}<p class="errors">Please correct the errors below.</p>{% endif %}
      
      <fieldset>
        {{ form.new_password1.errors }}
        <p>{{ form.new_password1.label_tag }}{{ form.new_password1 }}</p>
        
        {{ form.new_password2.errors }}
        <p>{{ form.new_password2.label_tag }}{{ form.new_password2 }}</p>
      </fieldset>

    	<p><input type="submit" value="Set new password"> or <a href="/accounts/profile/">cancel</a></p>
    </form>
  {% else %}
    <p>Unfortunately we cannot reset your password with that link — it must have been used before. You will have to try again.</p>
    <p><a href="{% url auth_password_reset %}">Try again &raquo;</a></p>
  {% endif %}
{% endblock %}
