{% extends "registration/base_user.html" %}

{% block title %}Register for an account{% endblock %}

{% block content_header %}Register for an account{% endblock %}

{% block content %}
  <p>Registration is free. Start by giving us your e-mail address, and we'll send you instructions on how to continue. We will not spam you or give your e-mail address to anybody.</p>

  <form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table>
      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {% if field.errors %}{{ field.errors }}{% endif %}
        <tr {% ifequal field.name "name" %} class="bee-like-this"{% endifequal %}>
          <td{% if field.errors %} class="error"{% endif %}>
            {{ field.label_tag }}
          </td>
          <td>
            {{ field }}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
      <tr>
        <th></th>
        <td><input type="submit" name="submit" value="Sign up" class="button"></td>
      </tr>
    </table>
  </form>
{% endblock %}
