{% load static %}


<img class="bars" src="{% static 'img/bars.svg' %}"/> 
  <h1>All languages</h1>
  <div id="content">
  <ul>
  {% for language in object_list %}
    <li><a href="{{ language.get_absolute_url }}">{{ language.name }}</a></li>
  {% endfor %}
  </ul>

  <p class="pagination">{% if has_previous %}<a href="{% url 'cab_language_list' %}?page={{ previous }}">&lt; Previous {{ results_per_page }}</a>{% endif %}&nbsp;&nbsp;{% if has_next %}<a href="{% url 'cab_language_list' %}?page={{ next }}">Next {{ results_per_page }} &gt;</a>{% endif %}</p>

</div>
