
{% load core_tags components %}
{% load static %}

<h1>Most bookmarked snippets{% if months %} last {{ months }} months{% endif %}</h1>

<div id="content">


  {% if object_list %}
    <table class="snippet_list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Tags</th>
          <th>Publication date</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
    {% for snippet in object_list %}
      <tr>
        <td><a href="{{ snippet.get_absolute_url }}">{% if not snippet.title|strip %}Untitled{% else %}{{ snippet.title }}{% endif %}</a></td>
        <td><a href="{{ snippet.author.get_absolute_url }}">{{ snippet.author.username }}</a></td>
        <td>{% for tag in snippet.tags.all %}<a href="{% url 'cab_snippet_matches_tag' tag.slug %}">{{ tag.name }}</a> {% endfor %}</td>
        <td>{{ snippet.pub_date }}</td>
        <td><span class="rating-{% if snippet.rating_score >= 0 %}positive{% else %}negative{% endif %}">{% if snippet.rating_score >= 0 %}+{% endif %}{{ snippet.rating_score }}</span></td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
    {% pagination pagination %}
    <p class="count">{{ hits }} snippet{{ hits|pluralize }} posted so far.</p>
  {% else %}
    <p class="empty">No snippets posted yet.</p>
  {% endif %}
</div>


<div id="sidebar">
<p>You're looking at the most-bookmarked snippets on the site; {% if user.is_authenticated %}you can help useful snippets show up here by clicking the "bookmark this snippet" link on their pages and ading them to <a href="{% url 'cab_user_bookmarks' %}">your bookmarks</a>{% else %}if you'd like to help useful snippets show up here, <a href="{% url 'account_login' %}">sign up for an account</a> and you'll get your own bookmarks list{% endif %}.</p>

  <nav class="filter">
    <h3>Filter by date</h3>
    <ul>
      <li{% if not months %} class="active"{% endif %}><a href="{{ request.path }}">Any time</a></li>
      <li{% if months == 3 %} class="active"{% endif %}><a href="{{ request.path }}?months=3">3 months</a></li>
      <li{% if months == 6 %} class="active"{% endif %}><a href="{{ request.path }}?months=6">6 months</a></li>
      <li{% if months == 12 %} class="active"{% endif %}><a href="{{ request.path }}?months=12">1 year</a></li>
    </ul>
  </nav>

  <p><a rel="alternate" href="{% url 'cab_feed_latest' %}" type="application/atom+xml"><i class="fa fa-fw fa-rss-square"></i>Feed of latest snippets</a></p>
</div>






