
{% load core_tags %}
<h1>All tags</h1>
<div id="content" class="w-full md:w-3/4">
  {% if object_list %}
    <ul>
    {% for tag in object_list %}
      <li><a href="{% url 'cab_snippet_matches_tag' tag.slug %}">{{ tag.name }}</a></li>
    {% endfor %}
    </ul>

    {% component "pagination" pagination_obj=pagination / %}
  {% else %}
    <p>No tags have been used yet.</p>
  {% endif %}

</div>
<div id="sidebar">
<h2>Most popular tags</h2>

  <ol>
  {% for tag in "cab.snippet"|call_manager:"top_tags"|slice:":5" %}
    <li><a href="{% url 'cab_snippet_matches_tag' tag.slug %}">{{ tag.name }}</a></li>
  {% endfor %}
  </ol>
</div>
